.posts-page-wrapper{
    .posts-cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 20px 100px;
        .post-card{
            background-color: #222;
            color: snow;
            padding: 20px;
            border-radius: 10px;
            h2,p{
                margin-bottom: 20px;
            }
            button{
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;
                border: none;
                outline: none;
            }
        }
    }
}